# Виртуальное окружение
venv/

# Файлы, созданные средой разработки
.idea/
.vscode/

# Временные файлы и кеш
__pycache__/
*.pyc

# Временные файлы для проекта Grebne
grebni.txt

# Токен Telegram
telegram_token.txt

# Логи
*.log

# Секрет
.env